body {
  display: block;
  margin: 0em;
  padding: 0em;
}

header {
  margin: 0em auto .25em;
  padding: .25em .25em 0em;
  background-color: #0000ff;
}

nav {
  margin: -.25em -.25em 0em;
  padding: .5em;
  background-color: #0000ff;
}

header > nav {
  margin: -.25em -.25em 0em;
  padding: .5em;
  background-color: #0000ff;
}

nav > a {
  padding: .25em;
  color: #fff;
}

nav > a:focus {
  outline: none;
  background-color: #0000ca;
  border: .125em solid #fff;
  font-weight: bold;
}

/* Buttons */

.btn {
  padding: .5em;
  border: none;
  border-radius: .25em;
  background-color: #0000ca;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
}

.btn:active, .btn:focus {
  padding: .375em;
  border: .125em solid #0000ca;
  box-shadow: 0em 0em 0em .125em #fff inset;
}

.outline-btn {
  padding: .5em;
  border: .125em solid #0000ca;
  border-radius: .25em;
  background-color: #fff;
  color: #0000ca;
  text-decoration: none;
  box-sizing: border-box;
}

.outline-btn:active, .outline-btn:focus {
  background-color: #0000ca;
  color: #fff;
}


/* Text */
h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Open Sans", sans-serif;
}

header > h1 {
  color: #fff;
}

header .material-icons, footer .material-icons {
  color: #fff;
}

/* Main */
main {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; */
}


article {
  display: block;
  margin: .25em;
  padding: .25em;
  border: .125em solid #0000ff;

}

section {
  margin: .25em 0 .25em;
  padding: .25em;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}

.grey-box {
  display: block;
  width: 100%;
  margin: 0em;
  padding: .25em;
  background-color: #e5e5e5;
}

.blue-section {
  margin: .5em 0 .5em;
  padding: .25em;
}

.blue-section h2 {
  margin: 0;
  padding: .25em;
  background-color: #0000ca;
  color: #fff;
}

#sponsors-box a > img {
  padding: .5em;
}

/* Footer */
footer {
  margin: .25em 0em 0em;
  padding: .25em;
  background-color: #0000ff;
  color: #fff;
}

footer > a {
  color: white;
}

/* Moblie */
#menu-btn {
  outline: none;
  margin: 0em 0em 0em -.25em;
  padding: .5em;
  background-color: #0000ff;
  border: none;
  display: none;
}

#menu-btn:focus {
  box-shadow: 0em 0em 0em .125em #fff inset;
}

#menu-btn > i {
  float: left;
}

@media (max-width: 600px) {
  #menu-btn {
    display: block;
  }

  header > nav {
    padding: 0em;
    display: none;
  }

  header > nav > a {
    padding: .5em;
    display: block;
  }

  .blue-section {
    margin-left: 0;
    margin-right: 0;
  }

  .blue-section h2 {
    margin: -.25em;
  }
}

/* Element states */
.shown {
  display: block !important;
}

.hidden {
  display: none !important;
}
