/* Imports only */

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  src: url("SourceCodePro-Regular.ttf");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: italic;
  src: url("SourceCodePro-Italic.ttf");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: italic;
  font-weight: bold;
  src: url("SourceCodePro-BoldItalic.ttf");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: bold;
  font-weight: bold;
  src: url("SourceCodePro-Bold.ttf");
}
